{% extends 'basic_app/base.html' %}
 {% block body_block %}
 <div class="jumbotron">
   <h1>Please Login</h1>
   <form class="group-form" action="{% url 'basic_app:user_login' %}" method="post">
     {% csrf_token %}
     <label for="username">Username:</label>
     <input class="form-control" type="text" name="username" placeholder="Enter Username">

     <label for="password">Passsword:</label>
     <input class="form-control" type="password" name="password" value="">

     <input class="btn btn-primary btn-submit" type="submit" name="" value="Login">
   </form>
 </div>
    <h1>here is the login form </h1>
 {% endblock %}
